@import "../../node_modules/bootstrap/less/bootstrap.less";

.table {
  table-layout: fixed;

  thead tr th {
    padding-right: 0;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.actions {
  &-box {
    display: none;
    position: absolute;
    right: 0;
  }

  &-row {
    &:hover {
      .actions-box {
        display: block;
      }
    }
  }
}
